.country{
    border: 2px solid rgb(174, 255, 0);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(12, 4, 44, 0.951);
    /* width: 360px; */
}

.countryName{
    
    border: 1px solid rgb(0, 251, 255);
    margin: 12px;
    padding: 14px;
    border-radius: 8px;
    background-color: rgba(97, 12, 125, 0.792);
}
.capital{
    border: 1px solid rgb(212, 255, 0);
    margin: 12px;
    padding: 6px;
    border-radius: 4px;
  
}
.region{
    border: 1px solid rgb(212, 255, 0);
    margin: 12px;
    padding: 6px;
border-radius: 4px;
}
.population{
    margin-top: 10px;
    border: 1px solid rgb(0, 251, 255);
    margin: 12px;
    padding: 14px;
    border-radius: 8px;
    background-color: rgba(44, 90, 6, 0.792);
}